.bg-light {
    --bs-bg-opacity: .4;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6em 2em 0.6em 2em;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

/* Navbar design */
.navbar-brand img{
    transition: transform 0.6s;
}
.navbar-brand img:hover{
    transform: scale(1.1);
}
.nav-item {
    display: flex;
}
nav .nav-item a{
    margin-right: 2em;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 600;
    color: rgb(49, 49, 49);
    padding: 0.4em;
}
.nav_items2_a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
}
/* navbar text line design */

.nav_items2_2{
    width: 2em;
}
.nav_items2_6,
.nav_items2_5,
.nav_items2_4,
.nav_items2_3,
.nav_items2_2{
    width: 0em;
    height: .2em;
    border-radius: 5em;
    transition: width 0.6s;
    background:linear-gradient(90deg,#EDD2E0,#EDBBB4);
}
.nav_items2_a:hover .nav_items2_2{
    width: 3em;
}
.nav_items2_a:hover .nav_items2_3{
    width: 4em;
    background:linear-gradient(90deg,#EDBBB4,#DBABBE);
}
.nav_items2_a:hover .nav_items2_4{
    width: 4em;
    background:linear-gradient(90deg,#DBABBE,#BAA1A7);
}
.nav_items2_a:hover .nav_items2_5{
    width: 3.2em;
    background:linear-gradient(90deg,#BAA1A7,#a1a3aa);
}
.nav_items2_a:hover .nav_items2_6{
    width: 4.6em;
    background:linear-gradient(90deg,#a1a3aa,#867272);
}
